@font-face {
    font-family: 'pencil';
    src: url('../resources/h-b-sketch-demo.regular.otf');
}

h1 {
    margin: 0.5em 0 0.2em 0;
    text-align: center;
    font-size: 60px;
    color: darkcyan;
    font-family: 'pencil', sans-serif;
    user-select: none;
}

.nameInputs {
    display: block;
    width: 100px;
    height: 40px;
}

#choices {
    display: flex;
    width: 100%;
    justify-content: center;
}

.choice {
    display: flex; 
    user-select: none;
    padding: 5px;
    font-family: 'pencil', sans-serif;
    font-size: 2em;
    margin: 0.5em 1em;
    border: 1px dashed grey;
}

.choice:hover {
    background: silver;
    opacity: 0.9;
    transform: scale(1.1);
    cursor: pointer;
}

.playerNamesCont {
    display: flex;
    user-select: none;
    color: black;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-family: 'pencil', sans-serif;
}

#startBtn {
    user-select: none;
    margin-top: 2em;
    font-family: inherit;
    background: rgb(16, 204, 204);
    color: rgb(39, 39, 39);
    font-size: 20px;
    border: none;
    height: 2em;
    border-radius: 5px;
    box-shadow: -3px 3px silver;
}

#startBtn:hover {
    cursor: pointer;
    background: rgb(19, 226, 226);
    color: black;
    box-shadow: -3px 3px gray;
}

.playersInput {
    display: inline-block;
    width: 10em;
    margin: 1em;
}

#gameboard {
    width: 35%;
    height: 75vh;
    margin: 0.5em auto 0 auto;
    display: none;
    flex-wrap: wrap;
}

.box {
    background: url('../resources/grid_paper3-01.webp');
    box-sizing: border-box;
    width: calc(100%/3);
    height: calc(75vh/3);
    border: 1px solid darkcyan;
    text-align: center;
    padding: 0.1em;
    font-size: 7em;
    font-family: 'pencil';
    color: rgb(68, 67, 67);
    user-select: none;
}