@font-face {
    font-family: 'pencil';
    src: url('../resources/h-b-sketch-demo.regular.otf');
}

h1 {
    margin: 0.5em 0 0.2em 0;
    text-align: center;
    font-size: 60px;
    color: darkcyan;
    font-family: 'pencil';
    user-select: none;
}

.nameInputs {
    display: block;
    width: 100px;
    height: 40px;
}

#choices {
    display: flex;
    width: 100%;
    justify-content: center;
}

.choice {
    display: none; 
    user-select: none;
    padding: 5px;
    font-family: 'pencil';
    font-size: 2em;
    margin: 0.5em 1em;
    border: 1px dashed grey;
}

.choice:hover {
    background: silver;
    opacity: 0.9;
    transform: scale(1.1);
    cursor: pointer;
}

#gameboard {
    width: 35%;
    height: 75vh;
    margin: 0.5em auto 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background: url('../resources/grid_paper3-01.webp');
    box-sizing: border-box;
    width: calc(100%/3);
    height: calc(75vh/3);
    border: 1px solid darkcyan;
    text-align: center;
    padding: 0.1em;
    font-size: 7em;
    font-family: 'pencil';
    color: rgb(68, 67, 67);
    user-select: none;
}