body {
    background: url('../resources/v849-nunny-36.jpg');
    text-align: center;
    background-size: cover;
    height: 100vh;
}

@font-face {
    font-family: 'pencil';
    src: url('../resources/h-b-sketch-demo.regular.otf');
}

@font-face {
    font-family: 'handwritten';
    src: url('../resources/Warung\ Kopi.otf');
}

h1 {
    background: none;
    margin-top: 0.5em;
    display: inline-block;
    text-align: center;
    font-size: 72px;
    color: #2e3852;
    font-family: 'pencil', sans-serif;
    user-select: none;
}

.nameInputs {
    display: block;
    width: 100px;
    height: 40px;
}

#choices {
    display: flex;
    width: 100%;
    justify-content: center;
}

.choice {
    user-select: none;
    padding: 0.2em;
    font-family: 'pencil', sans-serif;
    font-size: 2em;
    background: none;
    margin: 1em 1em;
    border-radius: 10px;
    border: 1px outset darkgrey;
    color: #202636;
}

.choice:hover {
    box-shadow: 0.1em 0.1em darkgrey;
    transform: scale(1.1);
    cursor: pointer;
}

.playerNamesCont {
    display: flex;
    margin-top: 1em;
    user-select: none;
    color: rgb(0 18 34);
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-family: 'pencil', sans-serif;
}

#startBtn {
    user-select: none;
    margin-top: 2em;
    font-family: 'handwritten', sans-serif;
    background: #595280;
    color: #ededed;
    font-size: 20px;
    border: none;
    height: 2em;
    border-radius: 5px;
    box-shadow: 3px 3px silver;
}

#startBtn:hover {
    cursor: pointer;
    background: #3f3a61;
    color: #ededed;
    box-shadow: 3px 3px gray;
}

#ailabel {
    font-size: 24px;
    font-family: 'pencil', sans-serif;
    text-align: center;
    display: block;
}

.playersInput, #player {
    display: inline-block;
    width: 8em;
    margin: 1em;
    height: 1.2em;
    font-size: 20px;
    font-family: 'handwritten', cursive;
    font-weight: 500;
}

input#player1.playersInput {
    margin-left: 1.28em;
}

.playerNamesCont label {
    font-size: 24px;
    background: none;
}

#gameboard {
    width: 35%;
    height: 75vh;
    margin: 0.8em auto 0 auto;
    display: none;
    flex-wrap: wrap;
    cursor: pointer;
}

.box {
    background: url('../resources/5d2ad0ffb80190c521443db7a21e63.jpg');
    background-position: 13.5% 0;
    box-sizing: border-box;
    width: calc(100%/3);
    height: calc(75vh/3);
    border: 0.018em solid rgb(184, 168, 240);
    text-align: center;
    padding: 0.1em;
    font-size: 7em;
    font-family: 'pencil', sans-serif;
    color: #5f5f5f;
    user-select: none;
}

.finalDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fade;
    animation-duration: 1.2s;
    width: 20em;
    height: auto;
    background: #ededed;
    box-shadow: 6px 6px 4px gray;
    top: 30vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
}

.resultMessage {
    font-family: 'handwritten', cursive;
    font-size: 36px;
    margin: 0.65em;
    font-weight: bold;
    color: #595280;
}

.restartBtn {
    width: 5em;
    height: 2.3em;
    background: #595280;
    color: #ededed;
    box-shadow: 4px 4px gray;
    border: 0;
    font-size: 20px;
    font-family: 'handwritten', cursive;
    border-radius: 5px;
    margin-bottom: 1em;
}

.restartBtn:hover {
    cursor: pointer;
    background: #3f3a61;
}